<mat-grid-tile-header>
  <h3>{{title}}</h3>
</mat-grid-tile-header>

<mat-grid-list cols="3" rowHeight="100px">

  <mat-grid-tile *ngFor="let digit of digits">
    <button mat-raised-button color='primary'>
      {{digit}}
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button>+</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button>-</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <div id='box'>
      <output>{{results}}</output>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button>x</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button>/</button>
  </mat-grid-tile>

</mat-grid-list>
